.nav{
  width: 100%;
  height: 8vh;
  background-color: rgb(255, 255, 255);
  display: flex;
}
.nav-title{
  width: 20%;
  text-align: center;
}
.nav-menu{
  width: 40%;
  justify-content: space-evenly;
  text-align: center;
  display: flex;
}
.nav-button{
  width: 30%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.body{
  background-color: rgb(5, 47, 74);
  width: 100%;
  height: 55vh;
  text-align: center;
  justify-content: space-evenly;
}
.body-content{
  padding: 20px;
  text-align: center;
  color: antiquewhite;

}
.body-content h1{
  font-size: 50px;
}
.body-green{
  background-color: green;
  color: white;
  width: 200px;
  height: 60px;
  margin: 0px auto;
}
.body-green h3{
  padding: 16px;
}

.footer{
  width: 100%;
  height: 20vh;
  display: flex;
  margin-bottom: 50px;
}
.footer-a{
  margin-top: 40px;
  width: 30%;
  text-align: center;
  line-height: 5px;
}
.footer-b{
  line-height: 0px;
  margin-top: 40px;
  width: 30%;
  text-align: center;
}
.footer-c{
  line-height: 5px;
  margin-top: 40px;
  width: 30%;
  text-align: center;
}